a.current {
    background: black;
    color: white;
}

#error {
    color: red;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px
}
